.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.textAlign{
	padding-left: 30px;
}

.tableCSS{
	
  --rft-main-color: #dddddd;
  --rft-button-color: #ffffff;
  --rft-even-row-color: #f3f3f3;
  color:#212529

}

  

.tableCSS thead tr :hover{
	background-color:#dddddd;
	color: black
}

.tableCSS thead tr{
	color:black;
	background-color: rgba(0,0,0,0.2);
}


